<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="icones/css/all.css">
    <link rel="stylesheet" href="css/acss.css">
    <script src="js/utils.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="item-cards-2">
        <div style="background-image: url(images/camera.jpg); background-size: cover;">
            <div>
                <div>
                    <div><img src="images/Chenfour Mohammed Amine.jpg"></div>
                    <span><i class="fa-solid fa-money-bill"></i> 859 MAD</span>
                </div>
                <header>Title for item 1</header>
                <p>
                    Some description or additional inforamtion for this item
                    Some description or additional inforamtion for this item
                </p>
                <span>Ajouter</span>
            </div>
        </div>
        <div style="background-image: url(images/souris.jpg); background-size: cover;">
            <div>
                <div>
                    <div><img src="images/Chenfour Mohammed Amine.jpg"></div>
                    <span><i class="fa-solid fa-money-bill"></i> 859 MAD</span>
                </div>
                <header>Title for item 1</header>
                <p>
                    Some description or additional inforamtion for this item
                    Some description or additional inforamtion for this item
                </p>
                <span>Ajouter</span>
            </div>
        </div>
        <div style="background-image: url(images/camera.jpg); background-size: cover;">
            <div>
                <div>
                    <p>new</p>
                    <!-- <div><img src="images/Chenfour Mohammed Amine.jpg"></div> -->
                    <span><i class="fa-solid fa-money-bill"></i> 859 MAD</span>
                </div>
                <header>Title for item 1</header>
                <p>
                    Some description or additional inforamtion for this item
                    Some description or additional inforamtion for this item
                </p>
                <span>Ajouter</span>
            </div>
        </div>
        <div style="background-image: url(images/camera.jpg); background-size: cover;">
            <div>
                <div>
                    <p>new</p>
                    <!-- <div><img src="images/Chenfour Mohammed Amine.jpg"></div> -->
                    <span><i class="fa-solid fa-money-bill"></i> 859 MAD</span>
                </div>
                <header>Title for item 1</header>
                <p>
                    Some description or additional inforamtion for this item
                    Some description or additional inforamtion for this item
                </p>
                <span>Ajouter</span>
            </div>
        </div>
        <div style="background-image: url(images/camera.jpg); background-size: cover;">
            <div>
                <div>
                    <p>new</p>
                    <!-- <div><img src="images/Chenfour Mohammed Amine.jpg"></div> -->
                    <span><i class="fa-solid fa-money-bill"></i> 859 MAD</span>
                </div>
                <header>Title for item 1</header>
                <p>
                    Some description or additional inforamtion for this item
                    Some description or additional inforamtion for this item
                </p>
                <span>Ajouter</span>
            </div>
        </div>
        <div style="background-image: url(images/camera.jpg); background-size: cover;">
            <div>
                <div>
                    <p>new</p>
                    <!-- <div><img src="images/Chenfour Mohammed Amine.jpg"></div> -->
                    <span><i class="fa-solid fa-money-bill"></i> 859 MAD</span>
                </div>
                <header>Title for item 1</header>
                <p>
                    Some description or additional inforamtion for this item
                    Some description or additional inforamtion for this item
                </p>
                <span>Ajouter</span>
            </div>
        </div>
    </div>
</body>
</html>