<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="icones/css/all.css">
    <link rel="stylesheet" href="css/acss.css">
    <script src="js/utils.js"></script>
    <script src="js/form.js"></script>
    <script src="js/pagination.js"></script>
    <script src="js/chart.js"></script>
    <script src="js/index.js"></script>
    <title>Document</title>
</head>
<body onload="test()">
    <div class="alert1-success">
        <p>Some alert message</p>
        <i class="fa-solid fa-triangle-exclamation"></i> <!-- the alert icon -->
    </div>
    <div class="alert1-warning">
        <p>Some alert message</p>
        <i class="fa-solid fa-triangle-exclamation"></i> <!-- the alert icon -->
    </div>
    <div class="alert1-error">
        <p>Some alert message</p>
        <i class="fa-solid fa-triangle-exclamation"></i> <!-- the alert icon -->
    </div>
</body>
</html>