<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="icones/css/all.css">
    <link rel="stylesheet" href="css/acss.css">
    <script src="js/utils.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="home1">
        <div> <!--In the opacity case-->
            <div> <!-- Welcome Cotent -->
                <header>Hello or your LOGO</header>
                <p>
                    Some paragraph to describe your app details. What we offer as a 
                    <strong>service</strong> for example or other <strong>important</strong> 
                    things about your website.Some paragraph to describe your app details. What we offer as a 
                    <strong>service</strong> for example or other <strong>important</strong> 
                    things about your website.Some paragraph to describe your app details. What we offer as a 
                    <strong>service</strong> for example or other <strong>important</strong> 
                    things about your website.
                </p>
                <div>
                    <span>Button 1</span>
                    <span>Button 2</span>
                </div>
            </div>
            <div> <!-- Some Image -->
                <img src="images/plant-1.png">
            </div>
        </div>
    </div>
</body>
</html>