<div class="item-cards-3">
    <div>
        <div style="background-image: url(images/model-img-4.jpeg);">
            <div></div>
            <div>
                <span>Nouveau</span>
            </div>
        </div>
        <div>
            <header>T-shirt Modern noir T-shirt Modern noir T-shirt Modern noir</header>
            <div>
                <strong>450 MAD</strong>
                <strong>450 MAD</strong>
            </div>
            <p>Une certaine description</p>
        </div>
    </div>
    <div>
        <div style="background-image: url(images/model-img-4.jpeg);">
            <div></div>
            <div>
                <span>Nouveau</span>
            </div>
        </div>
        <div>
            <header>T-shirt Modern noir</header>
            <div>
                <strong>450 MAD</strong>
                <strong>450 MAD</strong>
            </div>
            <p>Une certaine description</p>
        </div>
    </div>
    <div>
        <div style="background-image: url(images/model-img-4.jpeg);">
            <div></div>
            <div>
                <span>Nouveau</span>
            </div>
        </div>
        <div>
            <header>T-shirt Modern noir</header>
            <div>
                <strong>450 MAD</strong>
                <strong>450 MAD</strong>
            </div>
            <p>Une certaine description</p>
        </div>
    </div>
    <div>
        <div style="background-image: url(images/model-img-4.jpeg);">
            <div></div>
            <div>
                <span>Nouveau</span>
            </div>
        </div>
        <div>
            <header>T-shirt Modern noir</header>
            <div>
                <strong>450 MAD</strong>
                <strong>450 MAD</strong>
            </div>
            <p>Une certaine description</p>
        </div>
    </div>
</div>