/* QUOTE CARDS 2 */
.quote-cards-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto;
}

.quote-cards-2 > div { /* Card */
    width: 300px;
    height: auto;
    background-image: linear-gradient(to right bottom, rgb(101, 196, 254), rgb(9, 129, 205));
    display: flex;
    flex-direction: column-reverse;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
}

.quote-cards-2 > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quote-cards-2 > div > div > div {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 8px;
    overflow: hidden;
}

.quote-cards-2 > div > div > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quote-cards-2 > div > div > span {
    font-size: 17px;
    color: white;
    font-weight: bold;
}

.quote-cards-2 > div > p {
    font-size: 15px;
    color: white;
    opacity: 0.95;
    margin: 10px 0;
    line-height: 1.3em;
}

.quote-cards-2 > div > span {
    width: fit-content;
    height: auto;
    padding: 3px 9px;
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
    margin: 8px 0;
    border-radius: 7px;
}
