<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="icones/css/all.css">
    <link rel="stylesheet" href="css/acss.css">
    <script src="js/utils.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="quote-cards-1">
        <div>
            <i class="fa-solid fa-quote-left"></i>
            <p>
                These quote cards are a game-changer! Such a simple yet effective way to showcase 
                testimonials and quotes. They add a touch of elegance to the website, making it 
                visually appealing
            </p>
            <div>
                <img src="images/Chenfour Mohammed Amine.jpg">
            </div>
            <div>
                <header>Chenfour Mohammed Amine</header>
                <div>
                    <!-- OR ICONS TOO "<i/>" -->
                    <img src="images/facebook.png">
                    <img src="images/instagram.png">
                    <img src="images/github.png">
                </div>
            </div>
        </div>
        <div>
            <i class="fa-solid fa-quote-left"></i>
            <p>
                These quote cards are a game-changer! Such a simple yet effective way to showcase 
                testimonials and quotes. They add a touch of elegance to the website, making it 
                visually appealing
            </p>
            <div>
                <img src="images/noura.png">
            </div>
            <div>
                <header>Mougtahidi Noura</header>
                <div>
                    <img src="images/facebook.png">
                    <img src="images/instagram.png">
                    <img src="images/github.png">
                </div>
            </div>
        </div>
        <div>
            <i class="fa-solid fa-quote-left"></i>
            <p>
                These quote cards are a game-changer! Such a simple yet effective way to showcase 
                testimonials and quotes. They add a touch of elegance to the website, making it 
                visually appealing
            </p>
            <div>
                <img src="images/karim.png">
            </div>
            <div>
                <header>Bouskri Mohammed Karim</header>
                <div>
                    <img src="images/facebook.png">
                    <img src="images/instagram.png">
                    <img src="images/github.png">
                </div>
            </div>
        </div>
        <div>
            <i class="fa-solid fa-quote-left"></i>
            <p>
                These quote cards are a game-changer! Such a simple yet effective way to showcase 
                testimonials and quotes. They add a touch of elegance to the website, making it 
                visually appealing
            </p>
            <div>
                <img src="images/bennis.png">
            </div>
            <div>
                <header>Bennis Mohammed</header>
                <div>
                    <img src="images/facebook.png">
                    <img src="images/instagram.png">
                    <img src="images/github.png">
                </div>
            </div>
        </div>
    </div>
</body>
</html>