<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="icones/css/all.css">
    <link rel="stylesheet" href="css/acss.css">
    <script src="js/utils.js"></script>
    <title>Document</title>
</head>
<body>
    
    <div class="profile-cards-2">
        <div>
            <div>
                <i class="fa-regular fa-bookmark"></i>
                <i class="fa-solid fa-circle-info"></i>
            </div>
            <div>
                <img src="images/Chenfour Mohammed Amine.jpg">
            </div>
            <span class="approved-status">available</span>
            <header>Chenfour Mohammed amine</header>
            <p>Some description or additional for this inforamtion for this card</p>
            <span>View Profile</span>
        </div>
        <div>
            <div>
                <i class="fa-regular fa-bookmark"></i>
                <i class="fa-solid fa-circle-info"></i>
            </div>
            <div>
                <img src="images/noura.png">
            </div>
            <span class="denied-status">unavailable</span>
            <header>Mougtahidi Noura</header>
            <p>Some description or additional for this inforamtion for this card</p>
            <span>View Profile</span>
        </div>
        <div>
            <div>
                <i class="fa-regular fa-bookmark"></i>
                <i class="fa-solid fa-circle-info"></i>
            </div>
            <div>
                <img src="images/karim.png">
            </div>
            <span class="pending-status">half</span>
            <header>Bouskri Mohammed Karim</header>
            <p>Some description or additional for this inforamtion for this card</p>
            <span>View Profile</span>
        </div>
        <div>
            <div>
                <i class="fa-regular fa-bookmark"></i>
                <i class="fa-solid fa-circle-info"></i>
            </div>
            <div>
                <img src="images/bennis.png">
            </div>
            <span class="pending-status">half</span>
            <header>Bennis Mohammed</header>
            <p>Some description or additional for this inforamtion for this card</p>
            <span>View Profile</span>
        </div>
        <div>
            <div>
                <i class="fa-regular fa-bookmark"></i>
                <i class="fa-solid fa-circle-info"></i>
            </div>
            <div>
                <img src="images/bennis.png">
            </div>
            <span class="pending-status">half</span>
            <header>Bennis Mohammed</header>
            <p>Some description or additional for this inforamtion for this card</p>
            <span>View Profile</span>
        </div>
    </div>
</body>
</html>