<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="icones/css/all.css">
    <link rel="stylesheet" href="css/acss.css">
    <script src="js/utils.js"></script>
    <title>Document</title>
</head>
<body>
    
    <div class="profile-cards-1">
        <div>
            <div>
                <img src="images/Chenfour Mohammed Amine.jpg">
            </div>
            <header><strong>Chenfour</strong> Mohammed amine</header>
            <p>Some description or additional for this inforamtion for this card</p>
            <div>
                <span>button</span>
            </div>
        </div>
        <div>
            <div>
                <img src="images/noura.png">
            </div>
            <header><strong>Mougtahidi</strong> Noura</header>
            <p>Some description or additional for this inforamtion for this card</p>
            <div>
                <span>button 1</span>
                <span>button 2</span>
            </div>
        </div>
        <div>
            <div>
                <img src="images/karim.png">
            </div>
            <header><strong>Bouskri</strong> Mohammed Karim</header>
            <p>Some description or additional for this inforamtion for this card</p>
            <div>
                <span>button</span>
            </div>
        </div>
        <div>
            <div>
                <img src="images/bennis.png">
            </div>
            <header><strong>Bennis</strong> Mohammed</header>
            <p>Some description or additional for this inforamtion for this card</p>
            <div>
                <span>button</span>
            </div>
        </div>
        <div>
            <div>
                <img src="images/karim.png">
            </div>
            <header><strong>Bouskri</strong> Mohammed Karim</header>
            <p>Some description or additional for this inforamtion for this card</p>
            <div>
                <span>button</span>
            </div>
        </div>
        <div>
            <div>
                <img src="images/bennis.png">
            </div>
            <header><strong>Bennis</strong> Mohammed</header>
            <p>Some description or additional for this inforamtion for this card</p>
            <div>
                <span>button</span>
            </div>
        </div>
        <div>
            <div>
                <img src="images/bennis.png">
            </div>
            <header><strong>Bennis</strong> Mohammed</header>
            <p>Some description or additional for this inforamtion for this card</p>
            <div>
                <span>button</span>
            </div>
        </div>
    </div>
</body>
</html>