/* INFOS CARDS 1 */
.infos-cards-1 {
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto;
}

.infos-cards-1 > div {
    width: 270px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 7px 9px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid rgb(189, 189, 189);
    margin: 15px 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-left: 2px solid #53b3ef;
}

.infos-cards-1 > div > header {
    font-size: 18px;
    width: fit-content;
    padding-right: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #53b3ef;
    color: #53b3ef;
    font-weight: bold;
}

.infos-cards-1 > div > p {
    font-size: 15px;
    max-width: 95%;
}