<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="icones/css/all.css">
    <link rel="stylesheet" href="css/acss.css">
    <script src="js/utils.js"></script>
    <script src="js/chart.js"></script>
    <script src="js/index.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="form2">
        <div>
            <!-- Some Image -->
            <img src="images/jardinage-1.jpg">
        </div>
        <div>
            <header>Welcome back</header>
            <p>some paragraph</p>
            <form>
                <div>
                    <input type="text" placeholder="First Name">
                    <input type="text" placeholder="Last Name">
                </div>
                <input type="text" placeholder="E-mail">
                <input type="text" placeholder="Password">
                <span>Login</span>
            </form>
        </div>
    </div>

</body>
</html>