<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="icones/css/all.css">
    <link rel="stylesheet" href="css/acss.css">
    <script src="js/utils.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="nav2">
        <div>
            <header>LOGO</header>
            <i id="menu-bar" class="fa-solid fa-bars" onclick="showMenu('nav2')"></i>
            <i id="hide-menu" class="fa-solid fa-xmark" onclick="hideMenu('nav2')"></i>
        </div>
        <div>
            <a href="">Item 1</a>
            <a href="">Item 2</a>
            <a href="">Item 3</a>
            <a href="">Item 4</a>
        </div>
        <div>
            <span>Login</span>
            <span>Sign Up</span>
        </div>
    </div>
</body>
</html>